@import 'tailwindcss';

@font-face {
    font-family: "Dune Rise";
    src: url("./assets/Dune_Rise.eot?") format("eot"), url("./assets/Dune_Rise.woff") format("woff"), url("./assets/Dune_Rise.ttf") format("truetype"), url("./assets/Dune_Rise.svg#Dune_Rise") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer components {
    .animated-border {
        @apply relative;
        --border-width: 0%;
        --border-left: auto;
        --border-right: auto;
    }

    .animated-border::after {
        @apply absolute bottom-0 bg-light-oak/50;
        content: '';
        height: 2px;
        width: var(--border-width);
        left: var(--border-left);
        right: var(--border-right);

    }
}

@theme {
    --font-dune: 'Dune Rise', 'Arial Black', 'Impact', sans-serif;
    --font-helvetica: 'Helvetica', 'Arial', system-ui, sans-serif;


    /* Colors */
    --color-secondary: #3C4A31;
    --color-light-grreen: #A0C195;
    --color-accent: #F1DEC0;
    --color-dark-bg: #31201A;
    --color-light-oak: #504334;
    --color-cream: #F7EEDF;

    /* Animations */
    --animate-fade-in: fadeIn 0.8s ease-in-out;
    --animate-slide-up: slideUp 0.6s ease-out;
    --animate-slide-in: slideIn 0.7s ease-out;
    --animate-blur-in: blurIn 0.5s ease-in-out;

    /* Keyframes */
    @keyframes blurIn {
        0% {
            filter: blur(20px);
            opacity: 0;
        }

        100% {
            filter: blur(0);
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes slideUp {
        0% {
            transform: translateY(30px);
            opacity: 0;
            filter: blur(10px);
        }

        100% {
            transform: translateY(0);
            opacity: 1;
            filter: blur(0);
        }
    }

    @keyframes slideIn {
        0% {
            transform: translateX(-30px);
            opacity: 0;
            filter: blur(10px);
        }

        100% {
            transform: translateX(0);
            opacity: 1;
            filter: blur(0);
        }
    }


}